.logo {
  display: inline-flex;
  align-items: center;
}

.lite .image {
  height: 3.25rem;
  width: auto;
}

.full .image {
  height: 2.5rem;
  width: auto;
}

.mobileImage {
  display: none;
}

@media (max-width: 42.5rem) {
  .responsive .desktopImage {
    display: none;
  }

  .responsive .mobileImage {
    display: block;
  }
}
