.logo {
  display: inline-flex;
  align-items: center;
}

.lite .image {
  height: 52px;
  width: auto;
}

.full .image {
  height: 40px;
  width: auto;
}

.mobileImage {
  display: none;
}

@media (max-width: 680px) {
  .responsive .desktopImage {
    display: none;
  }

  .responsive .mobileImage {
    display: block;
  }
}
