.typography {
  font-family: var(--font-main);
  background-color: inherit;
  line-height: 143%;
}

.h1 {
  color: var(--color-primary);
  font-size: var(--text-32);
  font-weight: 700;
}

.h2 {
  font-size: var(--text-24);
  font-weight: 600;
}

.h3 {
  font-size: var(--text-18);
  font-weight: 500;
}

.regular {
  font-size: var(--text-14);
  font-weight: 400;
}

.medium {
  font-size: var(--text-12);
  font-weight: 500;
}

.navLink {
  font-size: var(--text-14);
  font-weight: 400;
}

.mobileLink {
  font-size: var(--text-24);
  font-weight: 400;
}

.button {
  font-size: var(--text-14);
  font-weight: 500;
}

.label {
  color: var(--color-text-primary);
  font-size: var(--text-14);
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.primary {
  color: var(--color-primary);
}

.dark {
  color: var(--color-text-secondary);
}

.gray {
  color: var(--color-gray-dark);
}

.light {
  color: var(--color-white);
}

@media (max-width: 47.5rem) {
  .h1 {
    font-size: var(--text-24);
  }
}
