.page {
  height: 100%;
  padding: var(--space-56) var(--container-padding);
}

.title {
  color: var(--color-text-primary);
  font-size: var(--text-32);
  font-weight: 700;
  line-height: 1;
}

@media (max-width: 47.5rem) {
  .page {
    padding: var(--space-56) var(--space-16);
  }
}
