.footer {
  margin-top: auto;
  color: var(--color-footer-text);
  background: var(--color-white);
}

.container {
  display: flex;
  min-height: 4.5rem;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: var(--space-0) calc(var(--space-48) - var(--space-8));
}

@media (max-width: 42.5rem) {
  .container {
    min-height: 4.25rem;
  }
}
