.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  padding-block: var(--space-20);
  justify-content: center;
  background-color: transparent;
}

.container {
  display: flex;
  width: 48.875rem;
  height: var(--header-height);
  align-items: center;
  justify-content: center;
  gap: var(--space-32);
  border-radius: var(--radius-10);
  background-color: var(--color-white);
  box-shadow: var(--shadow-header);
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--space-40);
  color: var(--color-text-primary);
  font-size: 1.125rem;
  font-weight: 400;
  white-space: nowrap;
}

.link {
  transition: color var(--color-primary-soft);
}

.link:hover {
  color: var(--color-primary);
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--space-8);
  white-space: nowrap;
}

.addLink {
  margin-right: var(--space-12);
  transition: color var(--color-primary-soft);
}

.addLink:hover,
.iconLink:hover,
.messageLink:hover {
  color: var(--color-primary-dark);
}

.iconLink,
.messageLink {
  display: inline-grid;
  place-items: center;
  color: var(--color-text-primary);
  transition: opacity var(--transition-base);
}

.separator {
  width: 0.125rem;
  height: 0.5rem;
  border-radius: 62.4375rem;
  background: var(--color-primary);
}

.mobileMenu,
.menuButton {
  display: none;
}

@media (max-width: 47.5rem) {
  .header {
    padding-block: var(--space-0);
  }

  .container {
    position: absolute;
    flex-wrap: wrap;
    width: 100%;
    height: var(--header-height);
    justify-content: space-between;
    border-radius: 0;
    padding: var(--space-8) var(--space-16);
  }

  .nav,
  .actions {
    display: none;
  }

  .menuButton {
    display: flex;
  }

  .mobileMenu {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: var(--space-14);
  }

  .mobileMenu[hidden] {
    display: none;
  }

  .mobileLink {
    display: flex;
    align-items: center;
    border-top: 0.0625rem solid var(--color-gray-light);
    padding-top: var(--space-24);
    margin-bottom: var(--space-24);
  }

  .mobileAddLink {
    margin-top: var(--space-8);
    width: 55%;
  }
}
