.button {
  position: absolute;
  top: var(--space-16);
  right: var(--space-16);
  display: inline-grid;
  width: 2rem;
  height: 2rem;
  place-items: center;
  border-radius: var(--radius-6);
  background: var(--color-white);
  color: var(--color-text-secondary);
  box-shadow: var(--shadow-header);
}
