.details {
  display: grid;
  box-sizing: border-box;
  width: min(100%, 40rem);
  gap: var(--space-32);
  padding: var(--space-24);
  border: var(--space-1) solid rgb(13 13 13 / 8%);
  border-radius: var(--radius-10);
  background: var(--color-white);
}

.title {
  color: var(--color-text-primary);
  font-size: var(--text-32);
  font-weight: 600;
}

.location {
  display: inline-flex;
  gap: var(--space-8);
  align-items: center;
  margin-top: var(--space-12);
  color: var(--color-text-secondary);
}

.description {
  color: var(--color-text-primary);
}

.group {
  display: grid;
  gap: var(--space-16);
}

.groupTitle {
  color: var(--color-text-primary);
  font-size: var(--text-16);
  font-weight: 700;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-10);
}

.badge {
  min-width: 5.5rem;
  padding: var(--space-10) var(--space-16);
  border-radius: var(--radius-4);
  background: var(--color-gray-light);
  color: var(--color-text-secondary);
  font-size: var(--text-12);
  text-align: center;
}

@media (max-width: 47.5rem) {
  .details {
    gap: var(--space-24);
    padding: var(--space-20);
  }

  .title {
    font-size: var(--text-24);
  }
}
